@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* text-transform: capitalize; */
  letter-spacing: 1.3px;
  line-height: 1.5;
  /* word-spacing:20; */
}
header {
  background-color: #333;
}
.header {
  padding: 1em;
  color: #fff;
  display: flex;
  /* flex-direction: */
  /* justify-content: space-around; */
  gap: 1rem;
  margin-left: 2rem;
}
.header svg{
  width: 2rem;
}
.header img {
  object-fit: cover;
  width: 100%;
  width: 50px;
  height: 50px;
}
header h1 {
  font-size: 1.3rem;
  /* margin-left: 3em;/ */
}
img {
  width: 100%;
  aspect-ratio: 16/7;
  aspect-ratio: 1;
  object-fit: cover;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 1em;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}
.blogs article {
  padding: 1em;
  display: grid;
  gap: 10px;
}
.title {
  font-size: 1.2rem;
  font-weight: 500;
}
.desc {
  font-size: 1rem;
  text-wrap: balance;
  text-align: justify;
}
article a {
  background-color: #333;
  display: inline-flex;
  padding: 0.4em 0.8em;
  width: max-content;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.container-blog {
  background-color: #f8f9fa;
}
section a{
  color: #3e7dbd;
}
section {
  display: grid;
  padding: 1em;
  max-width: 960px;
  gap: 1rem;
  margin: 0 auto;
}
section h2 {
  color: #14141a;
  background-color: rgb(233, 233, 233);
  font-weight: 500;
  padding: 6px;
  font-style: italic;
}
section img {
  width: 100%;
  aspect-ratio: 1/1;
}
section p {
  text-wrap: balance;
  text-align: justify;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 7px;
  color: rgba(255, 255, 255, 1);
  background-color: #362f31;
}
.btn-back{
  background-color: #362f31;
  color: white;
  font-size: 1rem;
  padding: 10px;
  margin:10px 20px;
}